/*------------------------------- Fonts -----------------------------*/
@font-face {
    font-family: 'Lobster1_4';
    src: url('fonts/Lobster1_4.eot');
    src: url('fonts/Lobster1_4.eot') format('embedded-opentype'),
         url('fonts/Lobster1_4.woff2') format('woff2'),
         url('fonts/Lobster1_4.woff') format('woff'),
         url('fonts/Lobster1_4.ttf') format('truetype'),
         url('fonts/Lobster1_4.svg#Lobster1_4') format('svg');
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url('fonts/OpenSansRegular.eot');
    src: url('fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('fonts/OpenSansRegular.woff2') format('woff2'),
         url('fonts/OpenSansRegular.woff') format('woff'),
         url('fonts/OpenSansRegular.ttf') format('truetype'),
         url('fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'OpenSansSemibold';
    src: url('fonts/OpenSansSemibold.eot');
    src: url('fonts/OpenSansSemibold.eot') format('embedded-opentype'),
         url('fonts/OpenSansSemibold.woff2') format('woff2'),
         url('fonts/OpenSansSemibold.woff') format('woff'),
         url('fonts/OpenSansSemibold.ttf') format('truetype'),
         url('fonts/OpenSansSemibold.svg#OpenSansSemibold') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('fonts/MyriadProRegular.eot');
    src: url('fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('fonts/MyriadProRegular.woff2') format('woff2'),
         url('fonts/MyriadProRegular.woff') format('woff'),
         url('fonts/MyriadProRegular.ttf') format('truetype'),
         url('fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}

/*------------------------------- Basic -------------------------------*/
a:hover,
a:focus,
a:visited,
a:active {
	text-decoration: none;
}
div.container {
		margin-right: 0;
		width: 100%;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-error-class {
	color: red;
}
/*-------------------------- Header --------------------------*/
section#headerfixed {
		height: 103px;
		width: 100%;
		position: fixed;
		background-color: #fff;
		z-index: 100;
		top: 0;
		left: 0;
	.row {
		background-color: #fff;
	}
	.list-inline {
		position: fixed;
	}
	h1 {
		padding-top: 25px;
		color: #44c0c2;
		font-family: 'Lobster1_4';
		font-size: 43px;
	}
	.burger-menu {
		width: 50px;
		height: 50px;
		position: relative;
		float: right;
		right: 15px;
		top: 10px;
		background-image: url('../img/menu-512.png');
		background-size: cover;
		display: none;
	}
	.burger-menu:hover {
		cursor: pointer;
	}
}

/*------------------------ Navigation ----------------------*/
nav{

	ul.list-inline a {
		display: inline-block;
		padding: 39px 21px;
		color: #000;
		&:hover {
			text-decoration: none;
			background-color: #f8f9fb;
			color: #49cbcd;
			border-bottom-style: solid;
			border-bottom-color: #49cbcd;
			padding-bottom: 41px;
		}
		li {
			font-family: 'OpenSansRegular';
			font-size: 15px;
		}
	}
	ul.list-inline {
		margin-bottom: 0;
	}
}
/*------------------------ Slider ----------------------*/
section#readmore {
		a {
			font-size: 26px;
			font-family: 'OpenSansSemibold';
		}
	color: #fff;
		padding-top: 103px;
		h1 {
			font-size: 63px;
			font-family: 'OpenSansSemibold';
			margin-top: 139px;
		}
		h4 {
			margin-top: 35px;
			font-size: 23px;
			font-family: 'OpenSansRegular'
		}
		.ghost-button-rounded-corners {
			  margin-top: 50px;
			  display: inline-block;
			  padding: 21px 41px; 
			  color: #fff;
			  font-size: 20px;
			  border: 3px solid #fff;
			  border-radius: 6px;
			  text-align: center;
			  outline: none;
			  text-decoration: none;
		}
		.ghost-button-rounded-corners:hover,
		.ghost-button-rounded-corners:active {
			  color: #49cbcd;
			  border: 3px solid #49cbcd;
		}
		.row1 {
			height: 566px;
			background-image: url('../img/slider/1.jpg');
		}
		.row2 {
			height: 566px;
			background-image: url('../img/bgc.jpg'); 
		}
		.imgleft {
			position: absolute;
		    top: 48%;
		    left: 29px;
		}
		.imgright {
			position: absolute;
		    top: 48%;
		    right: 29px;
		}
}

/*------------------------- The Team ----------------------*/
section#types {
	
	color: #7d8088;
	margin-top: 105px;
	.col-md-3 {
		width: 270px;
	}
	.section_header {
		margin-bottom: 139px;
	}
	h4 {
		color: #7d8088;
		margin-top: 70px;
		font-size: 22px;
		font-family: 'OpenSansRegular';
	}
	h5 	{
		margin-top: 25px;
		margin-bottom: 110px;
		font-size: 13px;
		font-family: 'OpenSansRegular';
	}
	p {
		margin-top: 5px;
		font-size: 14px;
		font-family: 'OpenSansRegular';
	}
	h2 {
		font-size: 42px;
		font-family: 'OpenSansRegular';
	}
}

/*------------------------- Buy Now ----------------------*/
section#bynow {
	background-color: #f1f1f1;
	.table {
		margin-top: 118px;
		margin-bottom: 100px;
	}
	.col-md-3{
		width: 370px;
	}
	.colup {
		background-color: #485460;
		padding: 25px 0;
		border: 1px solid #ecf0f1;
		}
		h3 {
			color: #FFF;
			margin: 0;
			font-family: 'OpenSansRegular';
			font-size: 26px;
		}
		button:hover .colup {
			background-color: #49cbcd;
		}
		.colup1 {
			background-color: #f8f9fb;
			padding: 25px 0;
		 	font-size: 25px;
		 	color: #485460;
			border: 1px solid #ecf0f1;
			h4 {
				margin: 0;
				font-family: 'OpenSansRegular';
				font-size: 20px;
			}
		}
		.col {
			background-color: #FFF;
			padding: 15px 0;
			border: 1px solid #ecf0f1;
			color: #aeb2b7;
			font-family: 'OpenSansRegular';
			font-size: 14px;
		}
		.coldown {
			background-color: #f8f9fb;
			padding: 25px 0;
		 	font-size: 18px;
			border: 1px solid #ecf0f1;
			button {
				padding: 10px 45px;
				color: #FFF;
				background-color: #788492;
				border: 0px;
				border-radius: 4px;
				font-family: 'OpenSansSemibold';
				font-size: 17px;
				// &:hover {
				// 	background-color: #49cbcd;
				// 	color: #ffffff;
				// 	border: 0px;
				// }
			}
		}
}

/*---------------------------- Contact ----------------------------*/
section#contact {
		color: #ffffff;
		h2 {
			font-family: 'OpenSansRegular';
			font-size: 42px;
		}
		.container {
			background: url('../img/bgc.jpg');
		}
		.section_header {
			margin-top: 100px;
		}
		h4 {
			margin-top: 121px;
			margin-bottom: 17px;
			font-family: 'OpenSansRegular';
			font-size: 24px;
		}
		h6 {
			padding-top: 21px;
			color: #8e80a6;
			margin: 0px;
			font-size: 14px;
			font-family: 'MyriadProRegular';
		}
		h5 {
			color: #8e80a6;
			font-family: 'OpenSansRegular';
			font-size: 14px;
		}
		h3 {
			font-family: 'MyriadProRegular';
			font-size: 14px;
			color: #8e80a6;
		}
		p {
			font-family: 'OpenSansRegular';
			font-size: 14px;
		}
		.form-inline {
			pading: 0;
			margin-top: 115px;
		}
		#inputName {
			font-size: 16px;
			font-family: 'OpenSansRegular';
			padding: 0 6px 0 6px;
		    height: 43px;
			width: 100%;
		}
		#inputEmail {
			font-size: 16px;
			font-family: 'OpenSansRegular';
			padding: 0 6px 0 6px;
			height: 43px;
			width: 100%;
		}
		#inputMessage {
			font-size: 16px;
			font-family: 'OpenSansRegular';
			padding: 6px;
			height: 179px;
			width: 100%;
			margin-top: 30px;
		}
		button {
			height: 50px;
			width: 100%;
			margin-top: 31px;
			margin-bottom: 50px;
			padding: 10px 30px;
			font-size: 20px;
			border: 0px;
			font-size: 22px;
			font-family: 'OpenSansRegular';
			&:hover {
				background-color: #49cbcd;
				color: #ffffff;
				border: 0px;
			}
		}
		ul.list-inline a {
			display: inline-block;
			margin-top: 43px;
		}
		a#twt {
			padding: 0 15px;
		}
		
}
/*------------------------ Адаптивность ----------------------*/
@media screen and (max-width : 1182px){
	section#headerfixed {
		.col-md-5 {
			// margin-left: 10px;
		}
	}	
}

@media(min-width: 320px) and (max-width: 360px) {
	section#bynow {
		.col-md-3{
			width: 320px;
		}
	}
}

@media(min-width: 320px) and (max-width: 991px) {
section#types {
		.col-md-3 {
			width: 280px;
			margin-left: 0px;
			margin-right: 0px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	section#headerfixed {
		.burger-menu {
			display: block;
		}
		.list-inline {
			display: none;
		}
	}
}

@media(min-width:993px) and (max-width:1200px) {

}